    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lato:ital,wght@1,100&display=swap');
     :root {
        --main-bg-color: #2874f0;
    }
    
    * {
        padding: 0;
        margin: 0;
    }
    
    .flex-all-center {
        text-align: center;
    }
    
    header {
        background: var(--main-bg-color);
        border: 5px solid red;
        font-family: 'Lato', sans-serif;
    }
    
    nav {
        display: flex;
    }
    
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo img {
        width: 88px;
        padding: 0 25px;
    }
    
    nav ul {
        height: 60;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    nav ul li {
        list-style: none;
        padding: 25px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
    }
    
    nav ul li a:hover {
        color: blue;
        font-style: italic;
    }
    
    .search {
        display: flex;
        align-items: center;
    }
    
    .search input {
        width: 25vh;
        height: 23px;
        border-radius: 5px;
        margin: 0 56px;
        padding: 0 12px;
    }
    
    .card-item img {
        width: 200px;
    }
    
    .button {
        padding: 5px 10px;
        color: white;
        background: var(--main-bg-color);
        border: 2px solid white;
        border-radius: 7px;
        cursor: pointer;
    }
    
    .my-1 {
        margin: 20px 0;
    }
    
    .my-1 {
        margin: 20px 0;
    }
    
    .search button {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    
    .slider {
        margin: 0 auto;
        width: 60vw;
        margin: 10px auto;
        padding: 20px;
        overflow: hidden;
    }
    
    h2 {
        text-align: left;
    }
    
    .card {
        max-width: 91vw;
        margin: 36px auto;
        overflow: scroll;
    }
    
    .card-item {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 10px;
        overflow: scroll;
    }
    
    .container {
        min-height: calc(100vh - 100px - 12vh);
    }
    
    footer {
        text-align: center;
        margin-top: 400px;
        height: 10vh;
        padding: 30px;
        width: none;
        margin-left: 40px;
        background-color: var(--main-bg-color);
        font-family: 'Lato', sans-serif;
        border-radius: 4px;
    }
    
    .center {
        text-align: center;
    }